<header class="topbar">
  <!-- ============================================================== -->
  <!-- Navbar scss in header.scss -->
  <!-- ============================================================== -->
  <nav>
    <div class="nav-wrapper">
      <!-- ============================================================== -->
      <!-- Logo you can find that scss in header.scss -->
      <!-- ============================================================== -->
      <app-logo></app-logo>
      <!-- ============================================================== -->
      <!-- Logo you can find that scss in header.scss -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Left topbar icon scss in header.scss -->
      <!-- ============================================================== -->
      <ul class="left">
        <li class="hide-on-med-and-down">
          <a href="javascript: void(0);" class="nav-toggle">
            <span class="bars bar1"></span>
            <span class="bars bar2"></span>
            <span class="bars bar3"></span>
          </a>
        </li>
        <li class="hide-on-large-only">
          <a href="javascript: void(0);" class="sidebar-toggle">
            <span class="bars bar1"></span>
            <span class="bars bar2"></span>
            <span class="bars bar3"></span>
          </a>
        </li>

        <!-- ============================================================== -->
        <!-- Notification icon scss in header.scss -->
        <!-- ============================================================== -->
        <app-notifications></app-notifications>
        <!-- ============================================================== -->
        <!-- Notification icon scss in header.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Comment topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <app-messages></app-messages>
        <!-- ============================================================== -->
        <!-- Comment topbar icon scss in header.scss -->
        <!-- ============================================================== -->



        <!-- ============================================================== -->
        <!-- Search Text Box                                                -->
        <!-- ============================================================== -->
        <app-search></app-search>
        <!-- ============================================================== -->
        <!-- Search Text Box                                                -->
        <!-- ============================================================== -->
      </ul>
      <!-- ============================================================== -->
      <!-- Left topbar icon scss in header.scss -->
      <!-- ============================================================== -->


      <!-- ============================================================== -->
      <!-- Right topbar icon scss in header.scss -->
      <!-- ============================================================== -->
      <ul class="right right-160">
        <!-- ============================================================== -->
        <!-- Idioms options -->
        <!-- ============================================================== -->
        <app-idioms></app-idioms>
        <!-- ============================================================== -->
        <!-- Idioms options -->
        <!-- ============================================================== -->

        <app-chat></app-chat>

        <!-- ============================================================== -->
        <!-- Profile icon scss in header.scss -->
        <!-- ============================================================== -->
        <app-current-user></app-current-user>
        <!-- ============================================================== -->
        <!-- Profile icon scss in header.scss -->
        <!-- ============================================================== -->
      </ul>
      <!-- ============================================================== -->
      <!-- Right topbar icon scss in header.scss -->
      <!-- ============================================================== -->
    </div>
  </nav>
  <!-- ============================================================== -->
  <!-- Navbar scss in header.scss -->
  <!-- ============================================================== -->
</header>
