<!-- ============================================================== -->
<!-- Comment topbar icon scss in header.scss -->
<!-- ============================================================== -->
<li class="chat-50">
  <a class="sidenav-trigger icon-show" data-target="right-slide-out"><i class="material-icons">chat_bubble</i></a>
</li>
<aside class="right-sidebar">
  <!-- Right Sidebar -->
  <ul id="right-slide-out" class="sidenav right-sidenav p-t-10 right-aligned ps ps--theme_default ps--active-y">
    <li>
      <div class="row">
        <div class="col s12">
          <!-- Tabs -->
          <ul class="tabs">
            <li class="tab col s4"><a href="#chat"><span class="material-icons">chat_bubble</span></a></li>
            <li class="indicator" style="left: 0px; right: 186px;"></li>
          </ul>
          <!-- Tabs -->
        </div>
        <!-- chat -->
        <div id="chat" class="col s12">
          <ul class="mailbox m-t-20">
            <li>
              <div class="message-center ps ps--theme_default" data-ps-id="71e760fd-e2da-02c0-85c6-e3f57bdd8e08">
                <!-- Message -->
                <a href="#" class="user-info" id="chat_user_1" data-user-id="1">
                  <span class="user-img">
                    <img src="../../assets/images/users/1.jpg" alt="user" class="circle">
                    <span class="profile-status online pull-right" data-status="online"></span>
                  </span>
                  <span class="mail-contnet">
                    <h5>Chris Evans</h5>
                    <span class="mail-desc">Just see the my admin!</span>
                    <span class="time">9:30 AM</span>
                  </span>
                </a>
                <!-- Message -->
                <a href="#" class="user-info" id="chat_user_2" data-user-id="2">
                  <span class="user-img">
                    <img src="../../assets/images/users/2.jpg" alt="user" class="circle">
                    <span class="profile-status busy pull-right" data-status="busy"></span>
                  </span>
                  <span class="mail-contnet">
                    <h5>Ray Hudson</h5>
                    <span class="mail-desc">I've sung a song! See you at</span>
                    <span class="time">9:10 AM</span>
                  </span>
                </a>
                <!-- Message -->
                <a href="#" class="user-info" id="chat_user_3" data-user-id="3">
                  <span class="user-img">
                    <img src="../../assets/images/users/3.jpg" alt="user" class="circle">
                    <span class="profile-status away pull-right" data-status="away"></span>
                  </span>
                  <span class="mail-contnet">
                    <h5>Lb James</h5>
                    <span class="mail-desc">I am a singer!</span>
                    <span class="time">9:08 AM</span>
                  </span>
                </a>
                <!-- Message -->
                <a href="#" class="user-info" id="chat_user_4" data-user-id="4">
                  <span class="user-img">
                    <img src="../../assets/images/users/4.jpg" alt="user" class="circle">
                    <span class="profile-status offline pull-right" data-status="offline"></span>
                  </span>
                  <span class="mail-contnet">
                    <h5>Don Andres</h5>
                    <span class="mail-desc">Just see the my admin!</span>
                    <span class="time">9:02 AM</span>
                  </span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <!-- <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
      <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 1039px; right: 0px;">
      <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 473px;"></div>
    </div> -->
  </ul>
</aside>
<div class="chat-windows hide-chat">

</div>
