<!-- ============================================================== -->
<!-- Logo you can find that scss in header.scss -->
<!-- ============================================================== -->
<a href="javascript:void(0)" class="brand-logo">
    <span class="icon">
        <img class="light-logo" src="assets/images/logo-light-icon.png" />
        <img class="dark-logo" src="assets/images/logo-icon.png" />
    </span>
    <span class="text">
        <img class="light-logo" src="assets/images/logo-light-text.png" />
        <img class="dark-logo" src="assets/images/logo-text.png" />
    </span>
</a>
<!-- ============================================================== -->
<!-- Logo you can find that scss in header.scss -->
<!-- ============================================================== -->