<!-- ============================================================== -->
<!-- Notification icon scss in header.scss -->
<!-- ============================================================== -->
<li>
    <a class="dropdown-trigger" href="javascript: void(0);" data-target="noti_dropdown"><i
            class="material-icons">notifications</i></a>
    <ul id="noti_dropdown" class="mailbox dropdown-content">
        <li>
            <div class="drop-title">Notifications</div>
        </li>
        <li>
            <div class="message-center">
                <!-- Message -->
                <a href="#">
                    <span class="btn-floating btn-large red"><i class="material-icons">link</i></span>
                    <span class="mail-contnet">
                        <h5>Launch Admin</h5>
                        <span class="mail-desc">Just see the my new admin!</span>
                        <span class="time">9:30 AM</span>
                    </span>
                </a>
                <!-- Message -->
                <a href="#">
                    <span class="btn-floating btn-large blue"><i class="material-icons">date_range</i></span>
                    <span class="mail-contnet">
                        <h5>Event today</h5>
                        <span class="mail-desc">Just a reminder that you have event</span>
                        <span class="time">9:10 AM</span>
                    </span>
                </a>
                <!-- Message -->
                <a href="#">
                    <span class="btn-floating btn-large cyan"><i class="material-icons">settings</i></span>
                    <span class="mail-contnet">
                        <h5>Settings</h5>
                        <span class="mail-desc">You can customize this template as you want</span>
                        <span class="time">9:08 AM</span>
                    </span>
                </a>
                <!-- Message -->
                <a href="#">
                    <span class="btn-floating btn-large green"><i class="material-icons">face</i></span>
                    <span class="mail-contnet">
                        <h5>Lily Jordan</h5>
                        <span class="mail-desc">Just see the my admin!</span>
                        <span class="time">9:02 AM</span>
                    </span>
                </a>
            </div>
        </li>
        <li>
            <a class="center-align" href="javascript:void(0);">
                <strong>Check all notifications</strong>
            </a>
        </li>
    </ul>
</li>
<!-- ============================================================== -->
<!-- Notification icon scss in header.scss -->
<!-- ============================================================== -->